*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    width: 100%;
    height: 300px;
    background: rgb(4,0,73);
    background: linear-gradient(90deg, rgba(4,0,73,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
    color: white;
}

.judul{
    font-size: 50px;
    margin-left: 150px;
    padding: 30px;
}

.deskripsi{
    margin-left: 182px;
}

.button{
    display: inline-block;
    margin-left: 180px;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    width: 130px;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
}

nav{
    display: flex;
    margin-top: 40px ;
    margin-left: 200px;
}

nav h3{
    width: 200px;
    text-align: center;
    background-color: rgb(9,0,148);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    transition: 0.2s;
    border: 2px solid rgb(9,0,148);
}

nav h3:hover{
    border: 2px solid rgb(9,0,148);
    background-color: white;
    color: black;
    cursor: pointer;
}

main{
    width: 1160px;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 3px solid rgb(4,0,73);
}

.content{
    width: 260px;
    height: 130px;
    margin: 15px 15px;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    border: 2px solid #bebdbd;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
}

.content:hover{
    color: white;
    background-color: #2222be;
    cursor: pointer;
}

.container-catatan{
    width: 75%;
    margin: 60px auto;
}

input{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    border: none;
    outline: none;
    border-bottom: 3px solid #2222be;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.add{
    display: inline-block;
    width: 120px;
    font-size: 20px;
    background-color: #040039;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 0 6px;
    border-radius: 5px;
    padding: 10px 0;
    color: white;
}

.tombol{
    display: flex;
    justify-content: end;
}

textarea{
    width: 100%;
    border: none;
    outline: none;
    height: 500px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    resize: none;
    margin: 10px auto;
}

.container-2{
    width: 75%;
    margin: 60px auto;
}

.title-note{
    font-size: 20px;
    border-bottom: 3px solid #2222be;
}

.isi-catatan{
    margin-top: 15px;
    height: 490px;
    overflow: auto;
}

.btn-grup{
    display: flex;
    justify-content: end;
}
