body{
    font-family: 'Quicksand', sans-serif;
}

.container{
    margin-top: 100px;
    margin-left: 70px;
}

.burger-btn{
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
    border-radius: 10px;
}

.navbar-brand{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

.tombol-burger{
    cursor: pointer;
    margin-top: 5px;
}

.sidebar{
    position: absolute;
    width: 70px;
    min-height: 100vh;
    padding-top: 20px;
}

.sidebar-effect{
    width: 200px;
}



.catatan{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.catatan:hover{
    background-color: #ddd;
}
.catatan.click{
    background-color: #ffc107;
}

.iconeffect{
    width: 180px;
}

.hidden{
    display: none;
}

.block{
    display: inline-block;
}

.selected{
    background-color: #ffc107;
}

.note-icon{
    margin: 12px;
}

.main-contant{
    width: 350px;
    height: 250px;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.add-button{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

nav .btn{
    font-weight: bold;
}

@media (min-width: 768px){
    .kolom-pencarian{
        display: inline-block;
        width: 500px;
    }

    .navbar-brand{
    margin-left: 25px;
    font-size: 25px;
    }

    .tombol{
        margin-top: 7px;
    }

    .icon{
        display: inline-block;
        margin-bottom: 3px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .main-contant{
        width: 300px;
    }

    .main-contant h1{
        font-size: 30px;
    }
}