body{
    background-color: #ddd;
    font-family: 'Quicksand', sans-serif;
}

.burger-btn{
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
    border-radius: 10px;
}

.navbar-brand{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

.tombol-burger{
    cursor: pointer;
    margin-top: 5px;
}

.sidebar{
    position: absolute;
    width: 70px;
    min-height: 100vh;
    padding-top: 20px;
}

.sidebar-effect{
    width: 200px;
}

.catatan{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.catatan:hover{
    background-color: #ddd;
}
.catatan.click{
    background-color: #ffc107;
}

.selected{
    background-color: #ffc107;
}

.book-icon{
    margin: 12px;
}

.main-contant{
    width: 75%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
}

nav .btn{
    font-weight: bold;
}

@media (min-width: 768px){
    .kolom-pencarian{
        display: inline-block;
        width: 500px;
    }

    .navbar-brand{
    margin-left: 25px;
    font-size: 25px;
    }

    .tombol{
        margin-top: 7px;
    }

    .icon{
        display: inline-block;
        margin-bottom: 3px;
    }
}